/* basic */
::-webkit-scrollbar {
  display: none;
}

/* nicer text */
*{
  font-family: 'Quicksand', sans-serif;
}


/* bacground */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* animated text  */
svg{
    width:100%;
    position:absolute;
    top:50%;
    left:40%;
    transform:translate(-50%,-50%)
  }
  svg text{
    font-family:arial;
    font-size:5rem;
    stroke: blue;
    stroke-width:2px;
    fill:transparent;
    animation:anim 5s infinite alternate;
  }
  @keyframes anim{
    from{stroke-dasharray:0 70%;}
    to{stroke-dasharray:50% 0;
    stroke-dashoffset:1%;}
  }
  @media(max-width:400px){
    svg{    
      width:440px;
      left:30%;
    }
  }