/* basic */
::-webkit-scrollbar {
  display: none;
}

/* nicer text */
*{
  font-family: 'Quicksand', sans-serif;
}

h1{
    color: orange;
    size: 30px;
    text-decoration-thickness: bold;
}
p{
    color: blue;
    size: 16px;
}
h2{
    color: limegreen;
    size: 25px;
    text-decoration-thickness: 600;
}